#root {
    height: 100%;
    text-align: center;
}

.app {
}

.appbar {
    position: fixed;
    height: 100%;
    width: 3em;
    left: -2em;
    top: 0px;
    margin: 0px;
    margin-right: 3em;
    padding-top: 12px;
    text-align: justify;
    background: rgb(24, 24, 24);
    opacity: 60%;
    z-index: -999;
    transition: all ease 250ms;
}
.appbar:hover {
    transform: translateX(+2em);
}
.appbar .appbarButton {
    margin: 0.4em;
    padding: 0px;
    width: 2.6em;
    height: 2.6em;
}
.appbar .appbarButton svg {
    fill: lightgray;
}
.appbar .appbarButton svg:hover {
    fill: yellow;
}
.appbar .appbarButton .icon {
    margin: -2px;
    padding: 0px;
    width: 2.6em;
    height: 2.6em;
}
    
.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
