.treeColumnView {
    position: absolute;
    margin-left: 38px;
	width: 100%;
	height: 100%;
}

.treeColumnView1 {
    display: grid;
    grid-template-columns: 1fr 3fr 0fr 0fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 20px;
    transition: 250ms;
}

.treeColumnView2 {
    grid-gap: 14px;
    grid-template-columns: 0.2fr 0.5fr 1fr 0fr 0.2fr;
}

.treeColumnView3 {
    grid-gap: 8px;
    grid-template-columns: 0.1fr 0.5fr 0.6fr 1fr 0.1fr;
}

.treeColumn {
    position: relative;
    height: 100%;
    text-align: justify;
    margin-top: 1em;
}

.treeNodeItem {
    box-sizing: border-box;
    max-width: 50em;
    background: rgb(222,236,252);
    border: 1px solid grey;
    border-radius: 10px;
    padding: 0.2em 0.4em 0.52em;
    margin: 0.8em;
    filter: drop-shadow(#666666 5px 5px 2px);
}

.treeNodeSelectedItem {
    background: rgb(128;
	128;
	64);
}

#title {
    display: inline;
}

#description {
    height: 6em;
    background: rgb(232;
	232;
	242);
    border-radius: 6px;
    margin-top: 5px;
    padding: 0.2em;
    font-size: 0.75em;
}

button.treeNodeAddbutton {
    width: 2.2em;
    height: 1.5em;
    padding: 0px;
    margin: 0px;
    top: 0px;
    background: rgb(30;
	30;
	30);
    border: 1px solid transparent;
    border-radius: 8px;
    font-size: 0.8em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
}

button.treeNodeAddbutton:hover {
    border-color: #646cff;
}

button.treeNodeAddbutton:focus,
button.treeNodeAddbutton:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}
