.treeColumnView1 {
    display: grid;
    /*    height: 880px;*/
    padding-left: 15em;
    padding-right: 15em;
    grid-template-columns: 1fr 0fr 0fr;
    grid-template-rows: 1fr;
    grid-gap: 20px;
    transition: 250ms;
}

.treeColumnView2 {
    padding-left: 5em;
    padding-right: 5em;
    grid-gap: 14px;
    grid-template-columns: 0.5fr 1fr 0fr;
}

.treeColumnView3 {
    padding-left: 2em;
    padding-right: 2em;
    grid-gap: 8px;
    grid-template-columns: 0.5fr 0.6fr 1fr;
}

.treeColumn {
    text-align: justify;
    margin-top: 1em;
}

.treeNodeItem {
    position: relative;
    box-sizing: border-box;
    background: rgb(6,14,6);
    border: 1px solid grey;
    border-radius: 10px;
    padding: 0.2em 0.4em 0.52em;
    margin: 0.8em;
}

.treeNodeSelectedItem {
    background: rgb(128, 128, 64);
}

#title {
    display: inline;
}

#description {
    background: rgb(64, 64, 64);
    border-radius: 6px;
    margin-top: 5px;
    padding: 0px;
    font-size: 0.75em;
}

button.treeNodeAddbutton {
    width: 2.2em;
    height: 1.5em;
    padding: 0px;
    margin: 0px;
    top: 0px;
    background: rgb(30, 30, 30);
    border: 1px solid transparent;
    border-radius: 8px;
    font-size: 0.8em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
}

button.treeNodeAddbutton:hover {
    border-color: #646cff;
}

button.treeNodeAddbutton:focus,
button.treeNodeAddbutton:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}
